bin
target
package-lock.json
*.iml
*.classpath
*.project
*.log
*/*.iml
*/*/*.iml
/*/*/.settings
/*/*/.project
*rebel*.xml
.idea/*
*/org.eclipse.wst.common.component
.DS_Store
tgit-web/tgit-web-pc/src/main/webapp/help
tgit-web/tgit-web-pc/src/main/.vscode
.factorypath
.project
.settings
.run/*
/.gradle/
.DS_Store